.about{
    /* height: 600px; */
    margin-top: 30px;
    /* border: 1px solid grey; */
    /* background-color: rgb(133, 233, 133); */
    text-align: center;
    margin-top: 150px;
    margin-bottom: 200px;
}
.skills{
    height: 600px;
    margin-top: 30px;
    border: 1px solid grey;
    text-align: center;
}
.skillsHeading{
    padding: 5px;
    height: 50px;
    
}
.projects{
    width: 100%;
    margin-top: 30px;
    /* border: 1px solid grey; */
    /* background-color: rgb(151, 112, 243); */
    text-align: center;
    display: flex;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}
.projects .projectHead{
    width: 50%;
}
.projects .projectImg{
    /* border: 1px solid grey; */
    width: 50%;
}
.projects .projectImg:hover{
    transform: scale(1.05);
    transition: 3s;
}
.projectsBtn{
    /* border: 1px solid grey; */
    width: 300px;
    
}
.projectsBtnDemo{
    background-color: rgb(189, 237, 57);
    margin-right: 30px;
}
.contact{
    height: 100px;
    margin-top: 30px;
    /* border: 1px solid grey; */
    /* background-color: rgb(86, 231, 226); */
    text-align: center;
}
.scrollTopbtn{
    position: fixed;
    bottom: 40px;
    border-radius: 50%;
    opacity: 0.5;
    right: 20px;
    height: 40px;
    width: 40px;
    background-color: rgb(55, 230, 184);
    color: rgb(26, 25, 25);
    cursor: pointer;
}
.scrollTopbtn:hover{
    opacity: 1;
    color:rgb(251, 44, 44)
}
